<!DOCTYPE hibernate-configuration PUBLIC  
   "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
   "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">  

<hibernate-configuration>  
   <session-factory>  
       
      <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>  
      <property name="connection.url">jdbc:mysql://localhost/skillimprov</property>  
      <property name="connection.username">root</property>  
      <property name="connection.password">Root</property>
      <property name="hibernate.connection.pool_size">10</property>
      <property name="hibernate.current_session_context_class">thread</property>
      
      <property name="hibernate.show_sql">true</property>
      <property name="hbm2ddl.auto">update</property>
      <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>  
      
      
      
        <mapping class="com.skillImprov.entity.User"/>
      <mapping class="com.skillImprov.entity.Course"/>
   </session-factory>  
</hibernate-configuration>